!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Mad HatterBot"
    %link{:href => "Icon-72@2x.png", :rel => "apple-touch-icon-precomposed"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %meta{:name=>"apple-mobile-web-app-status-bar-style", :content=>"black"}
    %meta{:content => content_for?(:description) ? yield(:description) : "Su Student App", :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    %link{:rel => "prefetch", :href => "/assets/Icon-cropped.png"}
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag "application"

